<h2>{{title}} mes héros</h2>
<ul class="heroes">
		<!-- Lorsque le héros de la ligne en cours est identique à selectedHero, Angular ajoute la classe CSS .selected mais quand les deux héros sont différents, Angular supprime la classe. -->
	<li [class.selected]="hero === selectedHero"
			*ngFor="let hero of heroesInstance"
			(click)="onSelect(hero)">
			<span class="badge">{{hero.id}}</span> {{hero.name}}
	</li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<!-- <h1>{{firstName}}</h1>
<ul>
	<li>Age: {{age}}</li>
	<li>Email: {{email}}</li>
	<li>Adresse: {{address.street}}, {{address.city}}, {{address.state}}</li>
</ul> -->

<button (click)="onClick()">Click me</button>
<button (click)="toggleEdit()">Edit user</button>

<button (click)="openDialogModif()" role="button">
	Modifier responsable
</button>

<!-- <div *ngIf=isEdit>
	<h1>Edit user</h1>
	<form>
		<div>
			<label for="firstName">firstName :</label><br>
			<input type="text" [(ngModel)]="firstName" name="firstName">
		</div>
		<div>
			<label for="age">Age :</label><br>
			<input type="text" [(ngModel)]="age" name="age">
		</div>
		<div>
			<label for="email">Email :</label><br>
			<input type="text" [(ngModel)]="email" name="email">
		</div>
		<div>
			<label for="street">street :</label><br>
			<input type="text" [(ngModel)]="address.street" name="street">
		</div>
		<div>
			<label for="city">city :</label><br>
			<input type="text" [(ngModel)]="address.city" name="city">
		</div>
		<div>
			<label for="state">state :</label><br>
			<input type="text" [(ngModel)]="address.state" name="state">
		</div>
	</form>
</div>

<h1>Hobbies</h1>
<form (submit)="addHobby(hobby.value)">
	<div>
		<label>Hobby :</label>
		<input type="text" #hobby>
	</div>
</form>
<ul>
	<li *ngFor="let hobbie of hobbies; let i = index">{{i + 1}}: {{hobbie}}
		<button (click)="deleteHobby()">X</button>
	</li>
</ul>

<h1>Post (infos du Json)</h1>
<ul>
	<li *ngFor="let post of posts; let i = index">{{i + 1}}: {{post.title}}
		<button (click)="deleteHobby()">X</button>
	</li>
</ul> -->
