
<div *ngIf="hero">
	<h2>{{hero.name | uppercase}} Details</h2>
	<div><span>id: </span>{{hero.id}}</div>
	<div>
		<h3><h2>{{hero.name}} new</h2></h3>
		<label>name:
			<input [(ngModel)]="hero.name" placeholder="name">
		</label>
	</div>
</div>
