<mat-dialog-actions align="end">
	<div class="container px-0">
		<div class="styleArray">
			<!-- deplacement equipes -->
			<div class="row justify-content-md-center no-gutters">
				<div class="col">
					<div class="card">
						<div class="card-header flup text-left ">Modifier le responsable</div>
						<div class="card-body border p-3">
							<div class="input-group">
									<ng-select #selectPrequalifs [options]="equipiers" [multiple]="false" [notFoundMsg]="texteAucuneDonnee"
									[highlightColor]="couleurFondSurvol" [highlightTextColor]="couleurTextSurvol" [(ngModel)]="equipierSelectionne"
									name="prequalifs">
								</ng-select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- boutons ajouter/retirer -->
			<div class="row mt-2 no-gutters">
				<div class="col-6 ml-auto mr-3">
					<button class="btn btn-primary btn-sm text-capitalize float-left" role="button" mat-button mat-dialog-close>annuler</button>
					<button class="btn btn-primary text-capitalize" mat-button [mat-dialog-close]="equipierSelectionne" [disabled]="equipierSelectionne.length==0">valider</button>
				</div>
			</div>
		</div>
	</div>
</mat-dialog-actions>
	