.mat-dialog-container {
  width: 550px !important;
  height: 160px !important;
  padding: 0 !important;
  overflow: visible !important;

  .mat-dialog-actions {
    display: inline-block;
    padding: 0 !important;
  }
}